@charset 'UTF-8';
#footer {
  width: 850px;
  clear : both; 
  margin: 10px;
  padding: 30px 0 0 0;
  font-size : 80%; 
  text-align : center; 
}
div#footer address {
  font-style : normal; 
  margin: 3px 0 3px 0;
  color: #383c3c;
}
